{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="container-fluid py-4" style="background-color:#fff">
     <div class="row mt-4" style="height:250px">
          <div class="col-lg-6 col-md-6 mt-4 mb-4">

     <iframe width="800" height="1200"  scrolling="no"
             src="https://chart-embed.service.newrelic.com/herald/84be33df-1722-42bc-a0cc-56506a15c1ff?height=200px&timepicker=true" frameborder="0"
             style="position:absolute;width:50%;height:45%"></iframe>

        </div>
 <div class="col-lg-6 col-md-6 mt-4 mb-4" style="padding-left:30px">

     <iframe width="800" height="1200"  scrolling="no"
             src="https://chart-embed.service.newrelic.com/herald/fb23019e-f156-4a1d-8058-b64105aea168?height=200px&timepicker=true" frameborder="0"
             style="position:absolute;width:50%;height:45%"></iframe>

        </div>
      </div>

        <div class="row mt-4" style="height:250px">
          <div class="col-lg-6 col-md-6 mt-4 mb-4">

     <iframe width="800" height="1200"  scrolling="no"
             src="https://chart-embed.service.newrelic.com/herald/3a351dda-a116-4356-b865-02ccae165073?height=200px&timepicker=true" frameborder="0"
             style="position:absolute;width:50%;height:45%"></iframe>

        </div>
 <div class="col-lg-6 col-md-6 mt-4 mb-4" style="padding-left:30px">

     <iframe width="800" height="1200"  scrolling="no"
             src="https://chart-embed.service.newrelic.com/herald/73f702f6-d931-40d5-838b-8e803981ab1f?height=200px&timepicker=true" frameborder="0"
             style="position:absolute;width:50%;height:45%"></iframe>

        </div>
      </div>
      {% include 'includes/footer.html' %}
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}