{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row container-fluid py-4">
<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-2 pb-1">
              <h6 class="text-white text-capitalize ps-3"> <span id="station_name"></span></h6>
            </div>
          </div>
</div>
    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">inbox</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">7 Days Shipment</p>
                <h4 class="mb-0"><span id="week_shipment">0</span></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than lask week</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">inbox</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize"><span id="yes_shipment">Today</span> Shipment</p>
                <h4 class="mb-0" id="yesterday_total">0</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than lask month</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize"><span id="data-activity">Today</span> Inactive</p>
                <h4 class="mb-0" id="inactive_today">0</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than yesterday</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">weekend</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">High Volume hr</p>
                <h4 class="mb-0" id="high_volume">0</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-secondary   shadow-secondary   border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-bars-shipping" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">

              <h6 class="mb-0 ">Shipment<a href="/report-shipping" target="_blank">
                <i class="material-icons opacity-10"   >download</i></a>
              </h6>
              <p class="text-sm ">Shipment by date</p>

            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-line-shipping" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Box Area Activity </h6>
              <p class="text-sm ">Activity by date</p>

            </div>
          </div>
        </div>

      </div>

      <div class="row mt-4">
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Operator Activity <a href="/report-csv" target="_blank">
                <i class="material-icons opacity-10"   >download</i></a></h6>
              <p class="text-sm ">Operator activity break by Min</p>

            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-warning shadow-warning border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> First Shipment </h6>
              <p class="text-sm "> Shipment against the Activity  </p>

            </div>
          </div>
        </div>

      </div>

      <div class="row mt-4">
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-light  shadow-light  border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-line-date" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Operator Shipping count <a href="/report-csv-op-activity" target="_blank">
                <i class="material-icons opacity-10"   >download</i></a></h6>
              <p class="text-sm ">Operator Shipping Count Every Hour</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-info  shadow-info  border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-doughnut" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">EOL Hrs</h6>
              <p class="text-sm ">EOL every hours</p>
            </div>
          </div>
        </div>


      </div>

      <div class="row mt-4">
      <div class="col-6">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Product Processed By Hour <a href="/report-summary-shipping" target="_blank">
                <i class="material-icons opacity-10"   >download</i></a></h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0" style="height: 250px; overflow-y: scroll;">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date/Time</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Count</th>
                  </tr>
                </thead>
                <tbody id="hr-t-body" >

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-bars-warehouse" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Customer Shipments <a href="/report-csv" target="_blank">
                <i class="material-icons opacity-10"   >download</i></a></h6>
              <p class="text-sm ">Customer Shipments in station</p>

            </div>
          </div>
        </div>
    </div>
      {% include 'includes/footer.html' %}
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <script>

   $(document).ready(function () {




    var firstMotion;
    var firstShipping;
    var timeIntervalCount;
    var shippingCusCount;
    var warehouses;
    var customers;

var color = {0:'#ffffff',
              1:'#ffffff',
              2:'#ffffff',
              3:'#ffffff',
              4:'#800080',
              5:'#00008B',
              6:'#FFC0CB',
              7:'#FFA500',
              8:'#FFFF00',
              9:'#808080',
              10:'#FFA000',
              11:'#657383',
              12:'#16E2F5',
              13:'#848B79',
              14:'#550A35',
              15:'#7E587E',
              16:'#FBFBF9',
              17:'#8B0000',
              18:'#ffffff',
              19:'#ffffff',
              20:'#ffffff',
              21:'#ffffff',
              22:'#ffffff',
              23:'#ffffff'
              }
<!--   window.setTimeout(function () {-->
<!--  window.location.reload();-->
<!--}, 30000);-->

$.ajax({
type: "GET",
url: "report/box",
data: {},
contentType: "application/json",
dataType: "json",
success: function(response) {
     var charbars = charbar()
    console.log(response)
    var lab = []
    var lab_num = []
    for (var da = 6; da >= 0; da--) {
        var date = new Date();
        date.setDate(date.getDate() - da);

        var finalDate = ("0" + date.getDate()).slice(-2) + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + date.getFullYear();
        var finalDateNum = ("0" + (date.getMonth() + 1)).slice(-2) + '/' + ("0" + date.getDate()).slice(-2);
        lab.push(finalDate)
        lab_num.push(finalDateNum)
    }
    $("#station_name").html(response['result']['station_name']);
    for (so = 0; so <= 6; so++) {
        if (response['result']['time_report_hrs'][lab[so]] === undefined) {
            response['result']['time_report_hrs'][lab[so]] = {
                "1-2": 0
            };
            response['result']['time_report_hrs'][lab[so]] = {
                "1-2": 0
            };
            response['result']['time_report_hrs'][lab[so]] = {
                "1-2": 0
            };

        }
    }




    var ctx2 = document.getElementById("chart-line-shipping").getContext("2d");

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: lab_num,
        datasets: [{
          label: "Boxing area",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .6)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .6)",
          borderColor: "rgba(255, 255, 255, .6)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [response['result']['time_report_hrs'][lab[0]]['1-2'], response['result']['time_report_hrs'][lab[1]]['1-2'], response['result']['time_report_hrs'][lab[2]]['1-2'], response['result']['time_report_hrs'][lab[3]]['1-2'], response['result']['time_report_hrs'][lab[4]]['1-2'], response['result']['time_report_hrs'][lab[5]]['1-2'], response['result']['time_report_hrs'][lab[6]]['1-2']],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.dataset.label || '';

                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += parseInt(context.parsed.y) + ' min';
                            }
                            return label;
                        }
                    }
                }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
                        callback: function(label, index, labels) {
                            return label + ' min';

                            // return _label;
                        },
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });



    }

    });

function charbar() {
$.ajax({
type: "GET",
url: "report",
data: {},
contentType: "application/json",
dataType: "json",
success: function(response) {
    console.log("Motion");
    console.log(response);
    var ctx = document.getElementById("chart-bars").getContext("2d");

    firstMotion = response['result']['pretime'];


    var lab = []
    var lab_num = []
    for (var da = 6; da >= 0; da--) {
        var date = new Date();
        date.setDate(date.getDate() - da);

        var finalDate = ("0" + date.getDate()).slice(-2) + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + date.getFullYear();
        var finalDateNum = ("0" + (date.getMonth() + 1)).slice(-2) + '/' + ("0" + date.getDate()).slice(-2);
        lab.push(finalDate)
        lab_num.push(finalDateNum)
    }


    var yesterday;
    for (so = 0; so <= 6; so++) {
        if (so == 5)
        {
        yesterday = lab[so];

        }
        if (response['result']['time_report_count'][lab[so]] === undefined) {
            response['result']['time_report_count'][lab[so]] = {
                "1-2": 0,
                "2-3": 0,
                "3-5": 0,
                "5-10": 0,
                "10-15": 0,
                "15-60": 0
            };
            response['result']['time_report_hrs'][lab[so]] = {
                "1-2": 0,
                "2-3": 0,
                "3-5": 0,
                "5-10": 0,
                "10-15": 0,
                "15-60": 0
            };
            response['result']['time_report'][lab[so]] = {
                "1-2": 0,
                "2-3": 0,
                "3-5": 0,
                "5-10": 0,
                "10-15": 0,
                "15-60": 0
            };

        }
    }

    let weeklySum=[];
    var removeLoop = 0;
    for (so = 6; so >= 0; so--) {

    var sumTotal = parseFloat( response['result']['time_report_hrs'][lab[so]]['1-2'] +
    response['result']['time_report_hrs'][lab[so]]['2-3'] +
    response['result']['time_report_hrs'][lab[so]]['3-5'] +
    response['result']['time_report_hrs'][lab[so]]['5-10'] +
    response['result']['time_report_hrs'][lab[so]]['10-15'] +
    response['result']['time_report_hrs'][lab[so]]['15-60']);
    weeklySum.push()
      if (sumTotal>0 && removeLoop==0) {
          removeLoop = 1;
          if(so != 6) {
          $('#data-activity').html( lab[so]);

          }
          $('#inactive_today').html(sumTotal.toFixed(2) );
      }
    }


    var dataset = [{
        label: "1-2",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 1,
        borderSkipped: false,
        backgroundColor: "rgba(200, 105, 255, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['1-2'], response['result']['time_report_hrs'][lab[1]]['1-2'], response['result']['time_report_hrs'][lab[2]]['1-2'], response['result']['time_report_hrs'][lab[3]]['1-2'], response['result']['time_report_hrs'][lab[4]]['1-2'], response['result']['time_report_hrs'][lab[5]]['1-2'], response['result']['time_report_hrs'][lab[6]]['1-2']],
        maxBarThickness: 10
    }, {
        label: "2-3",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 1,
        borderSkipped: false,
        backgroundColor: "rgba(100, 155, 200, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['2-3'], response['result']['time_report_hrs'][lab[1]]['2-3'], response['result']['time_report_hrs'][lab[2]]['2-3'], response['result']['time_report_hrs'][lab[3]]['2-3'], response['result']['time_report_hrs'][lab[4]]['2-3'], response['result']['time_report_hrs'][lab[5]]['2-3'], response['result']['time_report_hrs'][lab[6]]['2-3']],
        maxBarThickness: 10
    }, {
        label: "3-5",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 1,
        borderSkipped: false,
        backgroundColor: "rgba(0, 200, 200, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['3-5'], response['result']['time_report_hrs'][lab[1]]['3-5'], response['result']['time_report_hrs'][lab[2]]['3-5'], response['result']['time_report_hrs'][lab[3]]['3-5'], response['result']['time_report_hrs'][lab[4]]['3-5'], response['result']['time_report_hrs'][lab[5]]['3-5'], response['result']['time_report_hrs'][lab[6]]['3-5']],
        maxBarThickness: 10
    }, {
        label: "5-10",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 1,
        borderSkipped: false,
        backgroundColor: "rgba(204,0,0, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['5-10'], response['result']['time_report_hrs'][lab[1]]['5-10'], response['result']['time_report_hrs'][lab[2]]['5-10'], response['result']['time_report_hrs'][lab[3]]['5-10'], response['result']['time_report_hrs'][lab[4]]['5-10'], response['result']['time_report_hrs'][lab[5]]['5-10'], response['result']['time_report_hrs'][lab[6]]['5-10']],
        maxBarThickness: 10
    }, {
        label: "10-15",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 1,
        borderSkipped: false,
        backgroundColor: "rgba(102,0,51, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['10-15'], response['result']['time_report_hrs'][lab[1]]['10-15'], response['result']['time_report_hrs'][lab[2]]['10-15'], response['result']['time_report_hrs'][lab[3]]['10-15'], response['result']['time_report_hrs'][lab[4]]['10-15'], response['result']['time_report_hrs'][lab[5]]['10-15'], response['result']['time_report_hrs'][lab[6]]['10-15']],
        maxBarThickness: 10
    }, {
        label: "15-60",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 1,
        borderSkipped: false,
        backgroundColor: "rgba(255,153,51, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['15-60'], response['result']['time_report_hrs'][lab[1]]['15-60'], response['result']['time_report_hrs'][lab[2]]['15-60'], response['result']['time_report_hrs'][lab[3]]['15-60'], response['result']['time_report_hrs'][lab[4]]['15-60'], response['result']['time_report_hrs'][lab[5]]['15-60'], response['result']['time_report_hrs'][lab[6]]['15-60']],
        maxBarThickness: 10
    }];


    var timedata = new Chart(ctx, {
        type: "bar",
        data: {
            labels: lab_num,
            datasets: dataset,
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.dataset.label || '';

                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += parseInt(context.parsed.y) + ' min';
                            }
                            return label;
                        }
                    }
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    stacked: true,
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 500,
                        beginAtZero: true,
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                        color: "#fff",
                        callback: function(label, index, labels) {
                            return label + ' min';

                            // return _label;
                        }
                    },
                },
                x: {
                    stacked: true,
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)',

                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        }
                    }
                },
            },
        },
    });




    var shippingCharbar = ShippingCharBar()
},
});
}

<!--===== Shipping ======-->

function ShippingCharBar() {
$.ajax({
type: "GET",
url: "report/shipping",
data: {},
contentType: "application/json",
dataType: "json",
success: function(response) {

    console.log(response)
    var ctx = document.getElementById("chart-bars-shipping").getContext("2d");

    firstShipping = response['result']['pretime'];
    timeIntervalCount = response['result']['hrShippingCount']
    shippingCusCount = response['result']['shipping_cus_count']
    warehouses = response['result']['warehouses']
    customers = response['result']['customers']








    var lab = []
    var lab_num = []
    for (var da = 6; da >= 0; da--) {
        var date = new Date();
        date.setDate(date.getDate() - da);

        var finalDate = ("0" + date.getDate()).slice(-2) + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + date.getFullYear();
        var finalDateNum = ("0" + (date.getMonth() + 1)).slice(-2) + '/' + ("0" + date.getDate()).slice(-2);
        lab.push(finalDate)
        lab_num.push(finalDateNum)
    }

    for (so = 0; so <= 6; so++) {
        if (response['result']['time_report_count'][lab[so]] === undefined) {
            response['result']['time_report_count'][lab[so]] = {
                "0-1": 0,
                "1-2": 0,
                "2-3": 0,
                "3-5": 0,
                "5-10": 0,
                "10-15": 0,
                "15-60": 0
            };
            response['result']['time_report_hrs'][lab[so]] = {
                "0-1": 0,
                "1-2": 0,
                "2-3": 0,
                "3-5": 0,
                "5-10": 0,
                "10-15": 0,
                "15-60": 0
            };
            response['result']['time_report'][lab[so]] = {
                "0-1": 0,
                "1-2": 0,
                "2-3": 0,
                "3-5": 0,
                "5-10": 0,
                "10-15": 0,
                "15-60": 0
            };

        }
    }
    console.log(lab)
    console.log(response)


    var dataset = [{
        label: "0-1",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 0,
        borderSkipped: false,
        backgroundColor: "rgba(255,69,0, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['0-1'], response['result']['time_report_hrs'][lab[1]]['0-1'], response['result']['time_report_hrs'][lab[2]]['0-1'], response['result']['time_report_hrs'][lab[3]]['0-1'], response['result']['time_report_hrs'][lab[4]]['0-1'], response['result']['time_report_hrs'][lab[5]]['0-1'], response['result']['time_report_hrs'][lab[6]]['0-1']],
        maxBarThickness: 10
    },{
        label: "1-2",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 0,
        borderSkipped: false,
        backgroundColor: "rgba(255,215,0, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['1-2'], response['result']['time_report_hrs'][lab[1]]['1-2'], response['result']['time_report_hrs'][lab[2]]['1-2'], response['result']['time_report_hrs'][lab[3]]['1-2'], response['result']['time_report_hrs'][lab[4]]['1-2'], response['result']['time_report_hrs'][lab[5]]['1-2'], response['result']['time_report_hrs'][lab[6]]['1-2']],
        maxBarThickness: 10
    }, {
        label: "2-3",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 0,
        borderSkipped: false,
        backgroundColor: "rgba(100, 155, 200, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['2-3'], response['result']['time_report_hrs'][lab[1]]['2-3'], response['result']['time_report_hrs'][lab[2]]['2-3'], response['result']['time_report_hrs'][lab[3]]['2-3'], response['result']['time_report_hrs'][lab[4]]['2-3'], response['result']['time_report_hrs'][lab[5]]['2-3'], response['result']['time_report_hrs'][lab[6]]['2-3']],
        maxBarThickness: 10
    }, {
        label: "3-5",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 0,
        borderSkipped: false,
        backgroundColor: "rgba(0, 200, 200, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['3-5'], response['result']['time_report_hrs'][lab[1]]['3-5'], response['result']['time_report_hrs'][lab[2]]['3-5'], response['result']['time_report_hrs'][lab[3]]['3-5'], response['result']['time_report_hrs'][lab[4]]['3-5'], response['result']['time_report_hrs'][lab[5]]['3-5'], response['result']['time_report_hrs'][lab[6]]['3-5']],
        maxBarThickness: 10
    }, {
        label: "5-10",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 0,
        borderSkipped: false,
        backgroundColor: "rgba(204,0,0, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['5-10'], response['result']['time_report_hrs'][lab[1]]['5-10'], response['result']['time_report_hrs'][lab[2]]['5-10'], response['result']['time_report_hrs'][lab[3]]['5-10'], response['result']['time_report_hrs'][lab[4]]['5-10'], response['result']['time_report_hrs'][lab[5]]['5-10'], response['result']['time_report_hrs'][lab[6]]['5-10']],
        maxBarThickness: 10
    }, {
        label: "10-15",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 0,
        borderSkipped: false,
        backgroundColor: "rgba(102,0,51, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['10-15'], response['result']['time_report_hrs'][lab[1]]['10-15'], response['result']['time_report_hrs'][lab[2]]['10-15'], response['result']['time_report_hrs'][lab[3]]['10-15'], response['result']['time_report_hrs'][lab[4]]['10-15'], response['result']['time_report_hrs'][lab[5]]['10-15'], response['result']['time_report_hrs'][lab[6]]['10-15']],
        maxBarThickness: 10
    }, {
        label: "15-60",
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 0,
        borderSkipped: false,
        backgroundColor: "rgba(255,153,51, .6)",
        data: [response['result']['time_report_hrs'][lab[0]]['15-60'], response['result']['time_report_hrs'][lab[1]]['15-60'], response['result']['time_report_hrs'][lab[2]]['15-60'], response['result']['time_report_hrs'][lab[3]]['15-60'], response['result']['time_report_hrs'][lab[4]]['15-60'], response['result']['time_report_hrs'][lab[5]]['15-60'], response['result']['time_report_hrs'][lab[6]]['15-60']],
        maxBarThickness: 10
    }];
    var timedata = new Chart(ctx, {
        type: "bar",
        data: {
            labels: lab_num,
            datasets: dataset,
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.dataset.label || '';

                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += parseInt(context.parsed.y) + ' min';
                            }
                            return label;
                        }
                    }
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    stacked: true,
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 500,
                        beginAtZero: true,
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                        color: "#fff",
                        callback: function(label, index, labels) {
                            return label + ' min';

                            // return _label;
                        }
                    },
                },
                x: {
                    stacked: true,
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)',

                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        }
                    }
                },
            },
        },
    });

     var ctx = document.getElementById("chart-bars-warehouse").getContext("2d");
    customers = Object.values(customers);
    var dataset = [];
    for(w=0;w<=customers.length;w++)
    {
       var dataarr =[]
       for(o=0;o<=6;o++) {
          var c = 0;
          if (shippingCusCount[lab[o]][customers[w]] !== undefined) {
            c = shippingCusCount[lab[o]][customers[w]]
          }
          dataarr[o] = shippingCusCount[lab[o]][customers[w]]
       }
      var dset = {
        label: customers[w],
        tension: 0.8,
        borderWidth: 0,
        borderRadius: 1,
        borderSkipped: false,
        backgroundColor: color[w+2],
        data: dataarr,
        maxBarThickness: 15
      }
      dataset.push(dset)

    }




    var timedata = new Chart(ctx, {
        type: "bar",
        data: {
            labels: lab_num,
            datasets: dataset,
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.dataset.label || '';

                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += parseInt(context.parsed.y) ;
                            }
                            return label;
                        }
                    }
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    stacked: true,
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 500,
                        beginAtZero: true,
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                        color: "#fff",
                        callback: function(label, index, labels) {
                            return label;

                            // return _label;
                        }
                    },
                },
                x: {
                    stacked: true,
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)',

                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        }
                    }
                },
            },
        },
    });

  var chartLine = ChartLine(lab)

},
});


 }

function ChartLine(lab) {

    var lab = []
    var lab_num = []
    for (var da = 6; da >= 0; da--) {
        var date = new Date();
        date.setDate(date.getDate() - da);

        var finalDate = ("0" + date.getDate()).slice(-2) + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + date.getFullYear();
        var finalDateNum = ("0" + (date.getMonth() + 1)).slice(-2) + '/' + ("0" + date.getDate()).slice(-2);
        lab.push(finalDate)
        lab_num.push(finalDateNum)
    }

    var ctx2 = document.getElementById("chart-line").getContext("2d");

    for (so = 0; so <= 6; so++) {
        if (firstMotion[lab[so]] === undefined) {
            firstMotion[lab[so]] = 0;
            firstShipping[lab[so]] = 0;

        }
    }

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: lab_num,
        datasets: [{
          label: "Boxing area",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .6)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .6)",
          borderColor: "rgba(255, 255, 255, .6)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [parseInt(firstMotion[lab[0]]-firstShipping[lab[0]])/60,parseInt(firstMotion[lab[1]]-firstShipping[lab[1]])/60, parseInt(firstMotion[lab[2]]-firstShipping[lab[2]])/60, parseInt(firstMotion[lab[3]]-firstShipping[lab[3]])/60, parseInt(firstMotion[lab[4]]-firstShipping[lab[4]])/60, parseInt(firstMotion[lab[5]]-firstShipping[lab[5]])/60, parseInt(firstMotion[lab[6]]-firstShipping[lab[6]])/60],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.dataset.label || '';

                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += parseInt(context.parsed.y) + ' min';
                            }
                            return label;
                        }
                    }
                }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
                        callback: function(label, index, labels) {
                            return label + ' min';

                            // return _label;
                        },
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });



<!--    0000000000000000-->
var chartLineData = chartLineDataAdd()

}



function chartLineDataAdd() {
    var ctx2 = document.getElementById("chart-line-date").getContext("2d");

     var lab = []
    var lab_num = []
    for (var da = 6; da >= 0; da--) {
        var date = new Date();
        date.setDate(date.getDate() - da);

        var finalDate = ("0" + date.getDate()).slice(-2) + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + date.getFullYear();
        var finalDateNum = ("0" + (date.getMonth() + 1)).slice(-2) + '/' + ("0" + date.getDate()).slice(-2);
        lab.push(finalDate)
        lab_num.push(finalDateNum)
    }

    for (so = 0; so <= 6; so++) {
      if (timeIntervalCount[lab[so]]  === undefined ) {
          timeIntervalCount[lab[so]] = {0: 0,
          1: 0,
          2: 0,
          3: 0,
          4: 0,
          5: 0,
          6: 0,
          7: 0,
          8: 0,
          9: 0,
          10: 0,
          11: 0,
          12: 0,
          13: 0,
          14: 0,
          15: 0,
          16: 0,
          17: 0,
          18: 0,
          19: 0,
          20: 0,
          21: 0,
          22: 0,
          23: 0
          };
      }
    }


    var data = {
  labels: lab_num,
  datasets: []
};

   var cxp =  new Chart(ctx2, {
  type: 'bar',
  data: data,
  options: {
    responsive: true,
    maintainAspectRatio: false,
    color: 'rgba(255, 255, 255, .2)',
    plugins: {
      legend: {
        position: false,
      },
      scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
                        callback: function(label, index, labels) {
                            return label + ' min';

                            // return _label;
                        },
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        }
    }
  },
});

        var lb_hrs = {};
  for(xp = 0; xp <=6; xp++) {
    for(x = 0; x <=23; x++) {
      if (parseInt(timeIntervalCount[lab[xp]][x])>0) {
        $('#hr-t-body').prepend('<tr><td><div class="d-flex px-2 py-1"><div class="d-flex flex-column justify-content-center"><h6 class="mb-0 text-sm">'+lab[xp]+' '+x+':00:00</h6></div></div></td><td><p class="text-xs font-weight-bold mb-0">'+timeIntervalCount[lab[xp]][x]+'</p></td></tr>');
      }
    }
  }
  for(x = 0; x <=23; x++) {

    lb_hrs[x] = x + 'hrs';
    var newDataset = {
        label: 'Hr ' + (x),
        backgroundColor: color[x],
        borderWidth: 0,
        tension: 0,
        maxBarThickness: .5
      };
      cxp.data.datasets.push(newDataset);
      cxp.update();

      for(xp = 0; xp <=6; xp++) {
        cxp.data.datasets[x].data.push(timeIntervalCount[lab[xp]][x]);

       }
      }



      var weekTotal;
      weekTotal = 0;
      var yesterday_total;
      yesterday_total = 0;
      var high_volume;
      high_volume = 0;
      removeLoop = 0;
      for(xp = 6; xp >=0; xp--) {
      if (yesterday_total>0 && removeLoop==0) {
      removeLoop = 1
      }
      for(x = 0; x <=23; x++) {
          console.log(xp);

          weekTotal = timeIntervalCount[lab[xp]][x] + weekTotal;

          if(removeLoop == 0) {
          if (xp !=6){ $('#yes_shipment').html(lab[xp]); }
          yesterday_total = timeIntervalCount[lab[xp]][x] + yesterday_total;
          if (high_volume <  timeIntervalCount[lab[xp]][x]) {
              high_volume = timeIntervalCount[lab[xp]][x];

          }
          }
        }
      }

      $('#week_shipment').html(weekTotal);
      $('#yesterday_total').html(yesterday_total);
      $('#high_volume').html(high_volume);



var ctx2 = document.getElementById("chart-doughnut").getContext("2d");


var newcolor = [] ;
var newLab = [] ;
    var pp = 0;
console.log(color[0])
var pp=0;
for (x = 0 ;x <= 23; x++) {
         var sum = 0;
        for(xp = 0; xp <=6; xp++) {
        sum = sum + timeIntervalCount[lab[xp]][x];

         }
         if(sum > 0 ){
         newcolor[pp] = color[x];
         newLab[x + 'Hrs'] = x + 'Hrs';
         pp = pp + 1;
         }
     }



 var data = {
  labels: newLab,
  datasets: []
};

   var cxprt =  new Chart(ctx2, {
  type: 'doughnut',
  data: {labels:newLab},
  options: {
    responsive: true,
    maintainAspectRatio: false,
    color: 'rgba(255, 255, 255, .2)',
    plugins: {
      legend: {
        position: false,
        title: {
                display: true,
                text: 'Custom Chart Title'
            }
      },

    }
  },
});

var newDataset = {
        label: 'Hrs',
        backgroundColor: newcolor,
        borderWidth: 0,
        tension: 0,
      };
      cxprt.data.datasets.push(newDataset);
      cxprt.update();

    console.log(cxprt.data.datasets[0]);

    var newcolor = [] ;
    var pp = 0;
    for (x = 0 ;x <= 23; x++) {
         var sum = 0;
        for(xp = 0; xp <=6; xp++) {
        sum = sum + timeIntervalCount[lab[xp]][x];

         }
          cxprt.data.labels.push(x + 'Hr');
         cxprt.data.datasets[0].data.push(sum);
         if(sum > 0 ){
         newcolor[pp] = color[x];
         pp = pp + 1;
         }
         cxprt.update();
     }



}


});








  </script>

{% endblock javascripts %}
